<div class="grid-container">
  <h1 class="mat-h1">Student Dashboard</h1>
    <mat-grid-list cols="2">
      <mat-grid-tile>
        <app-student-list class="dashboard-card"
        [students]="students"
        (newStudent)="newStudent()"
        (studentDeleted)="deleteStudent($event)"
        (studentSelected)="selectStudent($event)"
      ></app-student-list>
      </mat-grid-tile>
      <mat-grid-tile>
        <app-student-detail class="dashboard-card"
          [selectedStudent]="selectedStudent"
          (studentSaved)="saveStudent($event)"
        >
        </app-student-detail>
      </mat-grid-tile>
  </mat-grid-list>
</div>
